{{!-- <h2>Bienvenido {{first_name}} {{last_name}}</h2> --}}
<h2>Bienvenido {{user.first_name}} {{user.last_name}}</h2>
<h2>Email: {{user.email}}</h2>
<h2>Rol: {{rol}}</h2>

{{!-- aqui el filtro para DTO es que no va a mandar el nombre y solo se vera el bienvenido, en caso de que no sea asi entonces hay que ajustarlo --}}

<p>Estas logueado viendo tu perfil y tus datitos</p>

<form action="/api/sessions/logout" method="POST">
    <button type="submit">Logout</button>
</form>